@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceHan Sans';
  src: url("SourceHanSansTC-Normal.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

.reveal blockquote {
font-family: monospace,sans-serif;
color: #000;
background-color: rgba(255,255,255, 50);
margin-top: 30px;
width: 85%;
font-size: 30px;
padding: 10px;
}
/**
 * Sky theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
.reveal a:not(.image) {
  line-height: 1.3em; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #cde9f4;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #cde9f4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #cde9f4));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #cde9f4 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #cde9f4 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #cde9f4 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #cde9f4 100%);
  background-color: #f7fbfc; }

.reveal {
  font-family: "Lato", 'cwTeXYen', sans-serif;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333333; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6{
  margin: 0 0 20px 0;
  color: #000000;
  font-family: "League Gothic", 'SourceHan Sans', "Lantinghei TC", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: 0 1px 0 #888888, 0 3px 0 #808080, 0 5px 5px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reveal li {
  margin: 0 0 20px 0;
  color: #000000;
  font-family: "League Gothic", 'SourceHan Sans', "Lantinghei TC", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: 0 1px 0 #888888, 0 3px 0 #808080, 0 5px 5px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.1);
}

.reveal h1 {
  color: #103000;
  font-size: 72px !important;
  text-shadow: 0 1px 0 #888888, 0 2px 0 #808080, 0 3px 0 #777777, 0 4px 0 #707070, 0 5px 0 #666666, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.1); }
.reveal h2 {
  color: #301000;
  font-size: 66px !important;
}
.reveal h3 {
  color: #101000;
  font-size: 56px !important;
}

.reveal li {
  color: #101000;
  font-size: 52px !important;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #3b759e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #74a7cb;
  text-shadow: none;
  border: none; }
  

.reveal .roll span:after {
  color: #fff;
  background: #264c66; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin-left: auto;
  margin-right: auto  
  background: rgba(215, 255, 215, 0.1);
  border: none; /*4px solid #333333;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
div {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
}
  
.zoom_img img {
    float: left;
    margin-left: auto;
}
div.inner_cell {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
}

.rendered_html {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
}
.zoom_img  img:hover {
  display: block;
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85); 
     -webkit-transform:scale(2.1); /* Safari and Chrome */
    -moz-transform:scale(2.1); /* Firefox */
    -ms-transform:scale(2.1); /* IE 9 */
    -o-transform:scale(2.1); /* Opera */
     transform:scale(2.1);

}

.zoom_img2  img:hover {
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85); 
     -webkit-transform:scale(1.3); /* Safari and Chrome */
    -moz-transform:scale(1.3); /* Firefox */
    -ms-transform:scale(1.3); /* IE 9 */
    -o-transform:scale(1.3); /* Opera */
     transform:scale(1.3);

}
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3b759e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #3b759e; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #3b759e; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #3b759e; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #3b759e; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #74a7cb; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #74a7cb; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #74a7cb; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #74a7cb; }

.reveal pre code {
	font-size: 30px;
	line-height: 34px;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3b759e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #3b759e; }

  
/*
 * Table
 */
.reveal th {
  background-color: #ffd;
  border: 1px solid black;
}
 .even td {
  background-color: #fdf;
  border: 1px solid black;
}
 .odd td {
  background-color: #dff;
  border: 1px solid black;
}
